/* Reset margin and font settings */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: fixed; /* 사이드바를 고정시킴 */
    height: 100vh; /* 사이드바가 전체 화면 높이를 차지 */
    top: 0;
    left: 0;
}

.sidebar .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.sidebar .logo span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* 사이드바 메뉴가 남는 공간을 차지하게 함 */
}

.sidebar .menu li {
    margin-bottom: 20px;
}

.sidebar .menu li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.sidebar .menu li a.active {
    background-color: #0062cc;
    color: #fff;
    font-weight: bold; /* 강조 효과 추가 */
}

.sidebar .menu li a:hover {
    background-color: #0062cc;
    color: #fff;
}

.sidebar .menu li a .icon {
    margin-right: 10px;
    font-size: 20px;
}

.sidebar .logout {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-top: auto; /* 아래쪽에 위치 */
    position: absolute; /* 위치를 절대값으로 고정 */
    bottom: 60px; /* 사이드바의 아래쪽에 고정 */
    left: 20px; /* 사이드바의 왼쪽 간격 조정 */
    width: calc(100% - 40px); /* 사이드바 너비에 맞게 조정 */
}

.sidebar .logout:hover {
    background-color: #e0e0e0;
}

.sidebar .logout .icon {
    margin-right: 10px;
    font-size: 18px;
}

/* Main content styles */
.main-content {
    margin-left: 250px; /* 사이드바의 너비만큼 마진 설정 */
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content h1 {
    font-size: 36px;
    color: #333;
}
