/* Reset margin and font settings */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
}

/* Main content styles */
.main-content {
    margin-left: 250px; /* 사이드바의 너비만큼 마진 설정 */
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content h1 {
    font-size: 36px;
    color: #333;
}