<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuiTui Admin</title>
    <link rel="stylesheet" href="/css/home.css">
    <!-- Include Material Icons CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        /* 아이콘과 텍스트 간의 간격 조정 */
        .menu .material-icons {
            margin-right: 8px; /* 아이콘과 글씨 사이 간격 */
        }
    </style>
</head>
<body>

<!-- Include the sidebar fragment -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main content -->
<div class="main-content">
    <h1>Welcome to TuiTui Admin!</h1>
</div>

</body>
</html>
